body{
    background-color:grey;

    max-width:1000px;
    }

.imgsrc{
    width:400px;
    height:500px;

    }

.boss{
            border:1px solid black;
            background-color:grey;
            height:100px;
            width:100px;
            }
        .description{
            display:none;
            border:1px solid black;
            background-color:green;
            height:100px;
            width:200px;
            }

h1{
    background-color:green;
    width:4001px;
    height:50px;
    text-align:;
}