{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	
	<link rel="stylesheet" href="{% static 'login-form-20/css/style.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" type="text/css" >
	<script type="text/javascript" src="{% static 'js/jquery_full.js' %}"></script>

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'login-form-20/images/bg.jpg' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">WELCOME TO THE AVIOX TECHNOLOGIES </h2>
				</div>
			</div>
			


<!-- ---------------------------------------------------------------------| -->

		      
				{% if request.user.is_authenticated %}

					      <div class="form-group">
	            	<a href="logout"><button class="form-control btn btn-primary submit px-3">Logout</button></a>
	            	<!-- <a href='/profile1/'>Login</a>  -->
	            </div>
	            <div class="form-group">
	            	<a href="profile/{{request.user.id }}"><button class="form-control btn btn-primary submit px-3">profile</button></a>
	            	
	            </div>

	            {% if user.is_superuser %}
    <div class="form-group">
	            	<a href="allusers"><button class="form-control btn btn-primary submit px-3">All User's Data</button></a>
	            	<!-- <a href='/profile1/'>Login</a>  -->
	            </div>

{% else %}
    <p>you do not hav ethe authorization </p>
{% endif %}

	            


	            {% else %}

	            <div class="form-group">
	            	<a href="signup"><button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button></a>
	            	<!-- <a href='/profile1/'>Login</a>  -->
	            </div>
	            <div class="form-group">
	            	<a href="login"> <button type="submit" class="form-control btn btn-primary submit px-3">Login</button></a>
	            	<!-- <a href='/profile1/'>Login</a>  -->
	            </div>


	           

	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="/" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          

	            {% endif %}

	      


	          <!-- ------------------------------------------------------------------------------------------ -->
	          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

